* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

/* layout */
.layout {
  display: grid;
  grid-template-areas:
    "topo"
    "conteudo"
    "rodape";
  grid-template-columns: 1fr;
  min-height: 100vh;
}

/* ================= HEADER ================= */

.topo {
  grid-area: topo;
  background: #333;
  color: white;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo h1 {
  font-size: 20px;
}

/* menu */
.topo nav {
  display: flex;
  gap: 20px;
}

.topo nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.topo nav a:hover {
  background: #555;
}

/* ================= CONTEÚDO ================= */

.conteudo {
  grid-area: conteudo;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

/* lista */
.lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* card */
.card {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
}

/* ================= FOOTER ================= */

.rodape {
  grid-area: rodape;
  background: #333;
  color: white;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape p {
  margin: 0;
}

.rodape a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

/* ================= RESPONSIVO ================= */

@media (max-width: 768px) {
  .topo {
    flex-direction: column;
    align-items: flex-start;
  }

  .topo nav {
    margin-top: 10px;
  }

  .rodape {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
